<div class="container-fluid">
  <app-page-title title="Calendar" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-xl-2 col-lg-3 col-6">
              <img src="assets/images/cal.png" class="mr-4 align-self-center img-fluid " alt="cal" />
            </div>
            <div class="col-xl-10 col-lg-9">
              <div class="mt-4 mt-lg-0">
                <h5 class="mt-0 mb-1 font-weight-bold">Welcome to Your Calendar</h5>
                <p class="text-muted mb-2">The calendar shows the events synced from all
                  your linked calendars.
                  Click on event to see or edit the details. You can create new event by
                  clicking on "Create New event" button or any cell available
                  in calendar below.</p>

                <button class="btn btn-primary mt-2 mr-1" id="btn-new-event" (click)="openModal(newEventModal)"><i class="uil-plus-circle"></i>
                  Create New Event</button>
                <button class="btn btn-white mt-2"><i class="uil-sync"></i> Link
                  Calendars</button>
              </div>
            </div>
          </div>

        </div> <!-- end card body-->
      </div> <!-- end card -->
    </div>
    <!-- end col-12 -->
  </div> <!-- end row -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="app-calendar">
            <!-- calendar -->
            <full-calendar #calendar defaultView="dayGridMonth" [header]="{
              left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
              }" [plugins]="calendarPlugins" themeSystem='bootstrap' [weekends]="calendarWeekends"
                           [bootstrapFontAwesome]="false" [buttonText]="{today: 'Today',
                month: 'Month',
                week: 'Week',
                day: 'Day',
                list: 'List',
                prev: 'Prev',
                next: 'Next'}" deepChangeDetection="true" [events]="calendarEvents"
                           (dateClick)="openModal(newEventModal, $event)" droppable="true"
                           (eventClick)="openEditModal(editEventModal, $event)">
            </full-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #newEventModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Add New Event</h5>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body p-3">
    <form (ngSubmit)="createNewEvent()" [formGroup]="formCreateEvent">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="control-label">Event Name</label>
            <input class="form-control" placeholder="Insert Event Name" type="text" name="name" formControlName="name"
                   [ngClass]="{'is-invalid': submitted && createForm.name.errors}" required>
            <div *ngIf="submitted && createForm.name.errors" class="invalid-feedback">
              <span *ngIf="createForm.name.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group"><label class="control-label">Category</label><select class="form-control"
                                                                                       name="category" formControlName="category" [ngClass]="{'is-invalid': submitted && createForm.category.errors }" required>
            <option *ngFor="let option of category" value="{{ option.value }}"> {{ option.name }}
            </option>
          </select>
            <div *ngIf="submitted && createForm.category.errors" class="invalid-feedback">
              <div *ngIf="createForm.category.errors.required">This value is required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-right pt-4">
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">Close</button>
        <button type="submit" class="btn btn-success save-event ml-1">Save</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Edit event modal -->
<ng-template #editEventModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Edit Event</h5>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body p-3">
    <form [formGroup]="formEditEvent" (ngSubmit)="editEventSave()">
      <label>Change event name</label>
      <div class="input-group m-b-15">
        <input class="form-control" placeholder="Insert Event Name" type="text" name="name" formControlName="editTitle"
               [ngClass]="{'is-invalid': submitted && editForm.editTitle.errors}" required>
        <div *ngIf="submitted && editForm.editTitle.errors" class="invalid-feedback">
          <span *ngIf="editForm.editTitle.errors.required">This value is required.</span>
        </div>
        <span class="input-group-append"><button type="submit" class="btn btn-success btn-md">
            <i class="fa fa-check"></i>
            Save</button></span>
      </div>
    </form>
  </div>
  <div class="text-right p-3">
    <button type="button" class="btn btn-light" (click)="modal.dismiss('Close')">Close</button>
    <button type="button" class="btn btn-danger delete-event ml-1" (click)='deleteEventData()'>Delete</button>
  </div>
</ng-template>
