h1 {
  background: #64379f;
  margin-left: -30px;
  text-align: center;
  padding: 10px;
  color: aliceblue;
}

h4{
  color: aliceblue;

}

#difficulty {
  background-color: 	#ffc905;
  padding: 20px;
}
