<!-- content -->
<router-outlet></router-outlet>
<div class="container-fluid">
  <div class="row page-title align-items-center">
    <div class="col-md-3 col-xl-6">
      <h4 class="mb-1 mt-0">Projects List</h4>
    </div>
    <div class="col-md-9 col-xl-6 text-md-right">
      <div class="mt-4 mt-md-0">
        <button (click)="addProject()" class="btn btn-danger mr-4 mb-3  mb-sm-0" type="button">
          <i class="uil-plus mr-1"></i> Create Project
        </button>
        <div class="btn-group mb-3 mb-sm-0">
          <button class="btn btn-primary" type="button" (click)="reloadData()">All</button>
        </div>
        <div class="btn-group ml-1">
          <button class="btn btn-white" type="button" (click)="ongoing()">Ongoing</button>
          <button class="btn btn-white" type="button" (click)="finished()" >Finished</button>
        </div>
        <div class="btn-group ml-2 d-none d-sm-inline-block">
          <button class="btn btn-primary btn-sm" type="button"><i class="uil uil-apps"></i></button>
        </div>
        <div class="btn-group d-none d-sm-inline-block">
          <button class="btn btn-white btn-sm" type="button"><i class="uil uil-align-left-justify"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let project of projects " class="col-xl-4 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div [ngClass]="{'badge-warning': project.status == 'ongoing', 'badge-danger' : project.status =='danger'}" class="badge float-right">
            {{ project.status }}</div>
          <h5 cl><a class="text-dark" href="javascript: void(0)">{{ project.name }}</a></h5>
          <p class="text-muted mb-4">{{ project.description }}</p>

          <div>
          </div>
        </div>
        <div class="card-body border-top">
          <div class="row align-items-center">
            <div class="col-sm-auto">
              <ul class="list-inline mb-0">
                <li class="list-inline-item pr-2">
                  <a class="text-muted d-inline-block" href="javascript: void(0)" ngbTooltip="Due date" placement="top">
                    <i class="uil uil-calender mr-1"></i> {{ project.endDate }}
                  </a>

                  <button (click)="projectDetails(project.id)" class="btn btn-info" style="margin-left: 10px">Details
                  </button>


                </li>


              </ul>
            </div>
            <div class="col offset-sm-1">
              <ngb-progressbar  [value]="project.progress" height="5px" class="m-0">
              </ngb-progressbar></div>
          </div>

        </div>

      </div>
      <!-- end card -->
    </div>
  </div>
</div>
