<div class="center-div">
  <button mat-raised-button color="primary" (click)="clickFileInput()">
    <span *ngIf="!image">Select Image</span>
    <span *ngIf="image">Change Image</span>
  </button>
</div>
<div class="image-wrapper">
  <mat-spinner *ngIf="showSpinner" [diameter]="80" class="center-div"></mat-spinner>
  <img [attr.src]="image" *ngIf="image" style="width:200px; max-height: 200px">
  <img src="assets/images/no-image.png" *ngIf="!image && !showSpinner" style="width:200px">
</div>
<input type="file" id="file-upload" (change)="fileChange(input)" #input />
