<h1 style="border-bottom: 6px solid #fff;">Level : JAVA</h1>


<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active" style="cursor: default;">
          Difficulty
        </button>

        <button type="button" class="list-group-item d-flex justify-content-between list-group-item-action"
                *ngFor="let level of levels" style="cursor: default">
          <a [routerLink]="['/question/level/' + idTheme + '/questionContent/' + level.id]">{{level.difficulty}}</a>
          <div>

            <i data-feather="activity" (click)="openRegister(level.id)"> + </i>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <router-outlet></router-outlet>
  </div>
</div>
