{{diagnostic}}

<h3>Add a new Task</h3>
<form (ngSubmit)="submit()" [formGroup]="firstFormGroup">
  <mat-vertical-stepper #linearVerticalStepper="matVerticalStepper" [linear]="false">
    <mat-step [stepControl]="firstFormGroup" errorMessage="Something is missing">
      <ng-template matStepLabel>Fill your task informations</ng-template>
      <p>
        <mat-form-field>
          <mat-label>Type</mat-label>
          <input matInput formControlName="type" required>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>start Date</mat-label>
          <input matInput formControlName="startDate" [min]="min" [matDatepicker]="picker1" required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error>This field is required</mat-error>

        </mat-form-field>
      </p>
      <p>

        <mat-form-field>
          <mat-label>end Date</mat-label>
          <input matInput formControlName="endDate" [min]="firstFormGroup.get('startDate').value"
                 [matDatepicker]="picker" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>This field is required</mat-error>

        </mat-form-field>
      </p>

      <p>

        <mat-form-field>
          <mat-label>Signature Date</mat-label>
          <input matInput formControlName="signatureDate"
                 [matDatepicker]="picker" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>This field is required</mat-error>

        </mat-form-field>
      </p>


    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Confirm your information</ng-template>
      <div *ngIf="firstFormGroup.valid">Everything seems correct.</div>
      <div *ngIf="!firstFormGroup.valid">Please check your informations</div>
      <div>
        <button mat-button type="submit" [disabled]="!firstFormGroup.valid">Done</button>
        <button type="button" mat-button (click)="linearVerticalStepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>



