<div class="container-fluid">
  <app-page-title title="Tasks For Today" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- tasks panel -->
  <div class="row">
    <div class="col-xl-8">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <!-- cta -->

              <div class="row mt-4">
                <div class="col">
                  <a class="text-dark" href="javascript: void(0);" (click)="todayTask = !todayTask"
                    aria-controls="todayTasks">
                    <h5 class="mb-0"><i class='font-size-18 mr-1 uil' [ngClass]="{'uil-angle-down': !todayTask, 'uil-angle-right': todayTask}"></i>Today <span
                        class="text-muted font-size-14">({{todayTasks.length}})</span></h5>
                  </a>
                  <div class="collapse show" id="todayTasks" [ngbCollapse]="todayTask">
                    <div class="card mb-0 shadow-none">
                      <div class="card-body pt-0">
                        <div class="row justify-content-sm-between border-bottom mt-2 pt-2" *ngFor="let task of todayTasks">
                          <div class="col-lg-6 mb-2 mb-lg-0">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="task-today-{{i}}">
                              <label class="custom-control-label" for="task-today-{{i}}">
                                {{ task.description }}
                              </label>
                            </div> <!-- end checkbox -->
                          </div> <!-- end col -->
                          <div class="col-lg-6">
                            <div class="d-sm-flex justify-content-between">

                              <div class="mt-3 mt-sm-0">
                                <ul class="list-inline font-13 text-sm-right">
                                  <li class="list-inline-item pr-1">
                                    <i class='uil uil-schedule font-16 mr-1'></i>
                                    {{task.endDate}}
                                  </li>
                                  <li class="list-inline-item pr-1">
                                    <i class='uil uil-comment font-16 mr-1'></i>
                                    {{task.title}}
                                  </li>
                                  <li class="list-inline-item pr-1" *ngIf="task.count !== 0">
                                    <i class='uil uil-align-alt font-16 mr-1'></i>
                                    {{task.countSubDone}}/{{task.count}}
                                  </li>

                                  <li class="list-inline-item">
              <span class="badge p-1" [ngClass]="{
                                                              'badge-soft-danger': task.state === 'ToDo',
                                                              'badge-soft-info': task.state === 'Doing',
                                                              'badge-soft-success': task.state === 'Done'
                                                          }">{{ task.state }}</span>
                                  </li>
                                </ul>
                              </div>
                            </div> <!-- end .d-flex-->
                          </div> <!-- end col -->
                        </div>

                      </div> <!-- end card-body-->
                    </div> <!-- end card -->
                  </div> <!-- end .collapse-->


                </div>
              </div>

              <div class="row mb-3 mt-5">
                <div class="col-12">
                  <div class="text-center">
                    <a href="javascript:void(0);" class="btn btn-white mb-3">
                      <i data-feather="loader" class="icon-dual icon-xs mr-2"></i>
                      Load more
                    </a>
                  </div>
                </div> <!-- end col-->
              </div>
              <!-- end row -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- task details -->
  </div>
</div>



<!-- Other task data -->
