html, body {
  height: 100%;
  margin: 0;
}
#sideBar {
  height: 100vh;
  background-color: aliceblue;
  padding-top: 40px;
}
h1 {
  background: #64379f;
  margin-left: -30px;
  text-align: center;
  padding: 10px;
  color: aliceblue;
}
