h1 {
  text-align: center;
  padding: 10px;
  color: aliceblue;
}

#time {
  background: #27104e;
  color: blanchedalmond;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding: 10px 2px 12px 0;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}
#header {
  background: azure;
  margin-left: -30px;
}
#quizz {
  background: beige;
  padding: 16px;
  color: black;
}
