<div class="container-fluid">
  <app-page-title title="Create Project"></app-page-title>
  <div class="row">
    {{diagnostic}}
    {{start}}
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="projectForm" class="form-horizontal ">
            <div class="row">
              <div class="col">
                <div class="form-group row" [ngClass]="displayFieldCss('name')">
                  <label class="col-lg-2 col-form-label"  for="name">Project Name<span class="text-danger">*</span></label>
                  <div class="col-lg-10">
                    <input class="form-control " formControlName="name"
                           id="name" name="firstName" required type="text"
                    >
                    <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Please inform the project Name"></app-field-error-display>

                  </div>
                </div>
                <div class="form-group row" [ngClass]="displayFieldCss('description')">
                  <label class="col-lg-2 col-form-label" for="description">Project Description<span class="text-danger">*</span></label>
                  <div class="col-lg-10">
                    <textarea class="form-control" formControlName="description" id="description" name="lastName"
                              required rows="3"></textarea>
                    <app-field-error-display [displayError]="isFieldValid('description')" errorMsg="Please inform the project description"></app-field-error-display>

                  </div>
                </div>
                <div class="form-group row " [ngClass]="displayFieldCss('startDate')">
                  <label class="col-lg-2 col-form-label" for="startDate">Start Date<span class="text-danger">*</span></label>
                  <div class="col-lg-10">
                    <input class="form-control" formControlName="startDate" id="startDate" name="date" type="date" min="{{min | date:'yyyy-MM-dd'}}">
                    <app-field-error-display [displayError]="isFieldValid('startDate')" errorMsg="Please inform the project start Date"></app-field-error-display>

                  </div>
                </div>
                <div class="form-group row" [ngClass]="displayFieldCss('endDate')">
                  <label class="col-lg-2 col-form-label" for="endDate">End Date<span class="text-danger">*</span></label>
                  <div class="col-lg-10">
                    <input class="form-control" formControlName="endDate" id="endDate" name="date" type="date" min="{{projectForm.get('startDate').value | date:'yyyy-MM-dd' }}
">                    <app-field-error-display [displayError]="isFieldValid('endDate')" errorMsg="Please inform the project end Date"></app-field-error-display>

                  </div>
                </div>
                <div class="form-group row" [ngClass]="displayFieldCss('technologies')">
                  <label class="col-lg-2 col-form-label" for="Technology">Technologie<span class="text-danger">*</span></label>
                  <div class="col-lg-10">

                  <select class="form-control" data-toggle="tooltip" formControlName="technologies" id="Technology"
                          multiple
                          title="Select Project technologie">

                    <option *ngFor="let technologie of this.technologies | async"
                            [ngValue]="technologie">{{technologie.wording}}</option>

                  </select>
                  </div>
                  <app-field-error-display [displayError]="isFieldValid('technologies')" errorMsg="Please inform the project technologies"></app-field-error-display>

                </div>
                <button class="btn btn-success" type="submit"  [disabled]="projectForm.invalid">Submit</button>
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</div>


