<div class="container-fluid">
  <div class="row page-title">
    <div class="col-sm-8 col-xl-6">
      <h4 class="mb-1 mt-0">
        Project: {{project.name}}
        <div [ngClass]="{'badge-warning': project.status == 'ongoing', 'badge-soft': project.status == 'finished'}"
             class="badge  font-size-13 font-weight-normal">{{project.status}}</div>
        <div *ngFor="let i of project.technologies"
             class="badge badge-soft-primary font-size-13 font-weight-normal ml-1">{{i.wording}}</div>
      </h4>
    </div>
    <div class="col-sm-4 col-xl-6 text-sm-right">
      <div class="btn-group ml-2 d-none d-sm-inline-block" *ngIf="current.role == 'ROLE_ADMINISTRATOR'">

        <button class="btn btn-soft-primary btn-sm" (click)="newTicket(project.id)" type="button"><i class="uil uil-edit mr-1"></i>New ticket</button>
      </div>
      <div class="btn-group d-none d-sm-inline-block ml-1">
        <button class="btn btn-soft-danger btn-sm" type="button"><i class="uil uil-trash-alt mr-1"></i>Delete</button>
      </div>
    </div>
  </div>


  <!-- details-->
  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body">
          <h6 class="mt-0 header-title">About Project</h6>

          <div class="text-muted mt-3">
            <p> {{project.description}} </p>


            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="mt-4">
                  <p class="mb-2"><i class="uil-calender text-danger"></i> Start Date</p>
                  <h5 class="font-size-16">{{project.startDate}}</h5>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="mt-4">
                  <p class="mb-2"><i class="uil-calendar-slash text-danger"></i> Due Date</p>
                  <h5 class="font-size-16">{{project.endDate}}</h5>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="mt-4">
                  <p class="mb-2"><i class="uil-dollar-alt text-danger"></i> Budget</p>
                  <h5 class="font-size-16">$1325</h5>
                </div>
              </div>

              <div class="col-lg-3 col-md-6">
                <div class="mt-4">
                  <p class="mb-2"><i class="uil-user text-danger"></i> Owner</p>
                  <h5 class="font-size-16">{{project.createdBy?.username}}</h5>
                </div>
              </div>
            </div>

            <div class="assign team mt-4">
              <h6 class="font-weight-bold">Assign To</h6>
              <div *ngIf="users !== undefined">

                <a href="javascript: void(0);">
                  <img [attr.src]="imageToShow" alt=""
                       class="avatar-sm m-1 rounded-circle">
                </a>

                <a href="javascript: void(0);">
                  <img alt="" class="avatar-sm m-1 rounded-circle"
                       src="../../../../../assets/images/users/avatar-3.jpg">
                </a>
                <a href="javascript: void(0);">
                  <img alt="" class="avatar-sm m-1 rounded-circle"
                       src="../../../../../assets/images/users/avatar-9.jpg">
                </a>
                <a href="javascript: void(0);">
                  <img alt="" class="avatar-sm m-1 rounded-circle"
                       src="../../../../../assets/images/users/avatar-10.jpg">
                </a>
              </div>

            </div>
          </div>
        </div>
        <!-- end card -->
        <div class="card">
          <div class="card-body">
            <h6 class="mt-0 header-title">Project Tickets</h6>
            <div *ngFor="let i of project.ticket">
              <div class="row justify-content-sm-between border-bottom mt-2 pt-2">
                <div class="col-lg mb-2 mb-lg-0">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox">
                    <label >
                      {{ i.title }}
                    </label>
                  </div> <!-- end checkbox -->
                </div> <!-- end col -->
                <div class="col-lg-5">
                  <div class="d-sm-flex justify-content-between">

                    <div class="mt-3 mt-sm-0">
                      <ul class="list-inline font-13 text-sm-right">
                        <li class="list-inline-item pr-1">
                          <i class='uil uil-schedule font-16 mr-1'></i>
                          {{i.created_at |date}}
                        </li>
                        <li class="list-inline-item pr-1 " *ngIf="i.children.length != 0">
                          <i class='uil uil-align-alt font-16 mr-1' > {{i.countSubDone}}/{{i.children.length}}</i>
                        </li>


                        <li class="list-inline-item">
              <span [ngClass]="{
                                                             }" class="badge p-1"></span>
                        </li>

                        <button (click)="ticketDetails(i)" class="btn btn-info right align-self-end" style="margin-left: 10px">Details
                        </button>
                      </ul>
                    </div>
                  </div> <!-- end .d-flex-->
                </div> <!-- end col -->
              </div>

            </div>

          </div>
        </div>
      </div>
      <div *ngIf="ticket !== undefined && ticket.affectedTo !== undefined " class="col">
        <app-ticket-details [subcompleted]="subcompleted" [completed]="ticket.done" [ticket]="ticket" ></app-ticket-details>
      </div>
    </div>
  </div>
  <!-- widget data -->
  <ng-template #WidgetData let-widget='widget'>
    <div class="col-xl-3 col-sm-6">
      <!-- stat 1 -->
      <div class="media p-3">
        <i [attr.data-feather]="widget.icon" appFeatherIcon class="align-self-center icon-dual icon-lg mr-4"></i>
        <div class="media-body">
          <h4 class="mt-0 mb-0">{{ widget.value }}</h4>
          <span class="text-muted">{{ widget.text }}</span>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Project activity content -->
  <ng-template #ProjectActivity let-project='project'>
    <li class="activity-list">
      <div class="media">
        <div class="text-center mr-3">
          <div class="avatar-sm">
          <span [ngClass]="{
                  'bg-soft-primary text-primary': project.color === 'primary',
                  'bg-soft-success text-success': project.color === 'success',
                  'bg-soft-warning text-warning': project.color === 'warning',
                  'bg-soft-info text-info': project.color === 'info'
              }" class="avatar-title rounded-circle ">{{ project.avatar }}</span>
          </div>
          <p class="text-muted font-size-13 mb-0">Jan</p>
        </div>
        <div class="media-body overflow-hidden">
          <h5 class="font-size-15 mt-2 mb-1"><a class="text-dark" href="javascript: void(0);">{{ project.title }}</a>
          </h5>
          <p class="text-muted font-size-13 text-truncate mb-0">{{ project.text }}</p>
        </div>
      </div>
    </li>
  </ng-template>

