<div class="jumbotron" style="margin-right: 20px;">
  <h1 class="display-3">Responses!</h1>
  <p class="lead">Question 1</p>
  <hr class="my-3">
  <p>Reponse 1: C'est ...</p>
  <p>Reponse 2: C'est ...</p>
  <p>Reponse 3: C'est ...</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Edit</a>
  </p>
</div>
