<div class="account-pages my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="card">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 p-5">
                <div class="mx-auto mb-5">
                  <a routerLink="/account/login">
                    <img src="assets/images/logo.png" alt="" height="24" />
                    <h3 class="d-inline align-middle ml-1 text-logo">Shreyu</h3>
                  </a>
                </div>

                <h6 class="h5 mb-0 mt-4">Create your account</h6>
                <p class="text-muted mt-1 mb-4">Create a free account and start using Shreyu</p>

                <form class="authentication-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>

                  <!-- <app-ui-preloader [display]="loading"></app-ui-preloader> -->

                  <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                  <div class="form-group">
                    <label class="form-control-label">Username<span class="text-danger">*</span></label>
                    <div class="input-group input-group-merge">
                      <input type="text" class="form-control" formControlName="username"
                             [ngClass]="{ 'is-invalid': submitted && f.username.errors }" id="username"
                             placeholder="Votre username" />

                      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Champs obligatoire</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-control-label">Nom<span class="text-danger">*</span></label>
                    <div class="input-group input-group-merge">
                      <input type="text" class="form-control" formControlName="firstname"
                        [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" id="firstname"
                        placeholder="Votre nom" />

                      <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                        <div *ngIf="f.firstname.errors.required">Champs obligatoire</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-control-label">Prenom</label>
                    <div class="input-group input-group-merge">
                      <input type="text" class="form-control" formControlName="lastname"
                             [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" id="lastname"
                             placeholder="Votre prenom" />

                      <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                        <div *ngIf="f.lastname.errors.required">Champs obligatoire</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-control-label">Adresse Email<span class="text-danger">*</span></label>
                    <div class="input-group input-group-merge">
                      <input type="text" class="form-control" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email"
                        placeholder="dreamer@dream-tek.co"/>
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Champs obligatoire</div>
                        <div *ngIf="f.email.errors.pattern">L'email doit être un email valide</div>
                      </div>
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="role">Role<span class="text-danger">*</span></label>
                    <ng-select id="role" [items]="selectValue" formControlName="role"></ng-select>
                    <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                      <span *ngIf="f.role.errors.required">Selectionnez un role</span>
                    </div>
                  </div>
<!--                  <div class="form-group mb-4">-->
<!--                    <div class="custom-control custom-checkbox">-->
<!--                      <input type="checkbox" class="custom-control-input" id="checkbox-signup" checked>-->
<!--                      <label class="custom-control-label" for="checkbox-signup">-->
<!--                        I accept <a href="javascript: void(0);">becoming a dreamer</a>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </div>-->

                  <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary btn-block" type="submit">Create</button>
                  </div>
                </form>
              </div>

              <div class="col-lg-6 d-none d-md-inline-block">
                <div class="auth-page-sidebar">
                  <div class="overlay"></div>
                  <div class="auth-user-testimonial">
                    <p class="font-size-24 font-weight-bold text-white mb-1">I simply love it!</p>
                    <p class="lead">"It's a elegent templete. I love it very much!"
                    </p>
                    <p>- Admin User</p>
                  </div>
                </div>
              </div>
            </div>

          </div> <!-- end card-body -->
        </div>
        <!-- end card -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
