<div *ngIf="data.ticket.affectedTo !==undefined" >

<h1 mat-dialog-title>Reassign Ticket </h1>
  <div mat-dialog-content>
    <p>You can choose from developers who have <p> extra {{data.ticket.estimation}} time in their schedule between
    {{data.ticket.startDate|date}}  and {{data.ticket.endDate|date}}  </div>
  <div class="row mt-2 " *ngFor="let user of this.users">
    <div >

    <button class="btn btn-success" (click)="submit(user)"> {{user.username}} </button>
  </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
