<div *ngIf="data.ticket.affectedTo !==undefined" >
<h1 mat-dialog-title>Conflict problems for {{data.ticket.affectedTo.username}}</h1>
<div mat-dialog-content>Please Choose a solution</div>
  <div class="row">
   <button class=" btn-soft-info col mt-4" (click)="rediarect()" > Check your agenda for rescheduling</button>

  </div>
  <div class="row">
    <button class="btn-soft-primary col mt-2" (click)="openDialog()"> Reaffect the task</button>

  </div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
</div>
