{{diagnostic}}

<h3>Add a new Task</h3>
<form (ngSubmit)="submit()" [formGroup]="firstFormGroup">
  <mat-vertical-stepper #linearVerticalStepper="matVerticalStepper" [linear]="false">
    <mat-step [stepControl]="firstFormGroup" errorMessage="Something is missing">
      <ng-template matStepLabel>Fill your task informations</ng-template>
      <p>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input formControlName="title" matInput required>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>description</mat-label>
          <input formControlName="description" matInput required>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>start Date</mat-label>
          <input [matDatepicker]="picker1" [min]="min" formControlName="startDate" matInput required>
          <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error>This field is required</mat-error>

        </mat-form-field>
      </p>
      <p>

        <mat-form-field>
          <mat-label>end Date</mat-label>
          <input [matDatepicker]="picker" [min]="firstFormGroup.get('startDate').value" formControlName="endDate"
                 matInput required>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>This field is required</mat-error>

        </mat-form-field>
        <p>
        <mat-label>Estimation</mat-label><p>

           <input id="appt-time" type="time" formControlName="estimation" name="appt-time"  >


      </p>


    </mat-step>

    <mat-step formArrayName="children" (click)="addChild()">

      <ng-template matStepLabel>Add a Sub Task</ng-template>
      Do you want to add a Sub Task?
      <button type="button" class="btn btn-primary" (click)="addChild()">Add</button>

      <div *ngFor="let skill of children.controls; let i=index">
        <div [formGroupName]="i">

          <p>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput formControlName="title" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-label>description</mat-label>
              <input matInput formControlName="description" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
          </p>


        </div>
      </div>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Assign task to developer</ng-template>

      <p>
        <mat-form-field>
          <mat-label>Developers list</mat-label>

          <mat-select  name="users"   formControlName="affectedTo">
            <mat-option *ngFor="let person of this.users" [value]="person">
              {{ person.username }}
            </mat-option>
          </mat-select>
          <mat-error>This field is required</mat-error>

        </mat-form-field>
      </p>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Confirm your information</ng-template>
      <div *ngIf="firstFormGroup.valid">Everything seems correct.</div>
      <div *ngIf="!firstFormGroup.valid">Please check your informations</div>
      <div>
        <button mat-button type="submit" [disabled]="!firstFormGroup.valid "  >Done</button>
        <button type="button" mat-button (click)="linearVerticalStepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>




