@import '../../../../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import '../../../../../../node_modules/@angular/material/theming';
@include mat-core();

.bdrop {
  background-color: #bbbbbbf2;
  backdrop-filter: blur(4px);
}
