<div fxFlex fxLayout="column" fxLayoutGap="0px">
  <div style="margin-bottom:20px">
  </div>
  <div class="absolute-center" *ngIf="loading">
    <mat-spinner [diameter]="80"></mat-spinner>
  </div>
  <div *ngIf="!loading">
    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="action">
          <tr><th mat-header-cell *matHeaderCellDef></th></tr>
          <tr>
            <td mat-cell *matCellDef="let row" style="width:10%">
              <mat-checkbox></mat-checkbox>
            </td>
          <tr>
        </ng-container>

        <ng-container matColumnDef="from">
          <tr><th mat-header-cell *matHeaderCellDef mat-sort-header> From </th></tr>
          <tr><td mat-cell *matCellDef="let row" style="width:30%"> {{emailService.getDisplayableFrom(row.from)}} </td><tr>
        </ng-container>

        <ng-container matColumnDef="subject">
          <tr><th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th></tr>
          <tr><td mat-cell *matCellDef="let row" style="width:60%"> {{row.subject}} </td></tr>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
