<div class="container-fluid">
  <app-page-title title="Profile" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-lg-3">
      <ng-template [ngTemplateOutlet]="ProfileData"></ng-template>

      <!-- end card -->

    </div>
    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">
          <ngb-tabset type="pills" justify="justified" class="navtab-bg nav-justified">
            <ngb-tab title="Edit" >
              <ng-template ngbTabContent class="nav-item">
                <h5 class="mt-3">Edit</h5>
                <form class="edit-form" [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
                  <app-profile-image></app-profile-image>
                  <!-- <app-ui-preloader [display]="loading"></app-ui-preloader> -->
                  <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                  <div class="form-group">
                    <label class="form-control-label">Nom<span class="text-danger">*</span></label>
                    <div class="input-group input-group-merge">
                      <input type="text" class="form-control" formControlName="firstname"
                             [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" id="firstname"
                             placeholder="Votre nom" />

                      <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                        <div *ngIf="f.firstname.errors.required">Champs obligatoire</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-control-label">Prenom</label>
                    <div class="input-group input-group-merge">
                      <input type="text" class="form-control" formControlName="lastname"
                             [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" id="lastname"
                             placeholder="Votre prenom" />

                      <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                        <div *ngIf="f.lastname.errors.required">Champs obligatoire</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-control-label">Username<span class="text-danger">*</span></label>
                    <div class="input-group input-group-merge">
                      <input type="text" class="form-control" formControlName="username"
                             [ngClass]="{ 'is-invalid': submitted && f.username.errors }" id="username"
                             placeholder="Votre Pseudo" />

                      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Champs obligatoire</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="pass1">New password<span class="text-danger">*</span></label>
                    <input id="pass1" type="password" placeholder="Password" formControlName="password" class="form-control"
                           [ngClass]="{'is-invalid': submitted && f.password.errors}">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <span *ngIf="f.password.errors.required">Champs obligatoire</span>
                      <span *ngIf="f.password.errors.minlength">Password must be at least 4 characters.</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Confirm Password <span class="text-danger">*</span></label>
                    <input type="password" formControlName="confirmpwd" placeholder="Password" class="form-control"
                           id="passWord2" [ngClass]="{'is-invalid': submitted && f.confirmpwd.errors}">
                    <div *ngIf="submitted && f.confirmpwd.errors" class="invalid-feedback">
                      <span *ngIf="f.confirmpwd.errors.required">Champs obligatoire</span>
                      <span *ngIf="f.confirmpwd.errors.mustMatch">les mot de passe doivent correspondre</span>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="form-control-label">Adresse Email<span class="text-danger">*</span></label>
                    <div class="input-group input-group-merge">
                      <input type="email" class="form-control" formControlName="email"
                             [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email"
                             placeholder="dreamer@dream-tek.co"/>
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Champs obligatoire</div>
                        <div *ngIf="f.email.errors.pattern">L'email doit être un email valide</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="phone">Téléphone</label>
                    <input id="phone" type="text" placeholder="Numéro de téléphone"
                           formControlName="phoneNumber" class="form-control"
                           [ngClass]="{'is-invalid': submitted && f.phoneNumber.errors}">
                    <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                      <span *ngIf="f.phoneNumber.errors.required">Champs obligatoire</span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="useraddress">Adresse</label>
                    <input type="text" formControlName="address" placeholder="Adresse" class="form-control"
                           id="useraddress" [ngClass]="{'is-invalid': submitted && f.address.errors}">
                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                      <span *ngIf="f.address.errors.required">Champs obligatoire</span>
                    </div>
                  </div>
                  <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary btn-block" type="submit">Mettre à jour</button>
                  </div>
                </form>
                <!--                <div class="text-center">-->
                <!--                  <a href="javascript: void(0);" class="btn btn-primary btn-sm">Load more</a>-->
                <!--                </div>-->
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Activity" class="nav nav-pills navtab-bg">
              <ng-template ngbTabContent class="nav-item">
                <h5 class="mt-3">This Week</h5>
                <div class="mt-3 mb-3 pl-4">
                  <ul class="list-unstyled events mb-0">
                    <li class="event-list" *ngFor="let activity of activities">
                      <div class="pb-4">
                        <div class="media">
                          <div class="event-date text-center mr-4">
                            <div class="bg-soft-primary p-1 rounded text-primary font-size-14">
                              {{ activity.time }}</div>
                          </div>
                          <div class="media-body">
                            <h6 class="font-size-15 mt-0 mb-1">{{ activity.title }}</h6>
                            <p class="text-muted font-size-14">{{ activity.text }}</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <h5 class="mt-3">Last Week</h5>
                <div class="left-timeline mt-3 mb-3 pl-4">
                  <ul class="list-unstyled events mb-0">
                    <li class="event-list" *ngFor="let activity of activities">
                      <div class="pb-4">
                        <div class="media">
                          <div class="event-date text-center mr-4">
                            <div class="bg-soft-primary p-1 rounded text-primary font-size-14">
                              {{ activity.time }}</div>
                          </div>
                          <div class="media-body">
                            <h6 class="font-size-15 mt-0 mb-1">{{ activity.title }}</h6>
                            <p class="text-muted font-size-14">{{ activity.text }}</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <h5 class="mt-3">Last Month</h5>
                <div class="left-timeline mt-3 mb-3 pl-4">
                  <ul class="list-unstyled events mb-0">
                    <li class="event-list" *ngFor="let activity of activities">
                      <div class="pb-4">
                        <div class="media">
                          <div class="event-date text-center mr-4">
                            <div class="bg-soft-primary p-1 rounded text-primary font-size-14">
                              {{ activity.time }}</div>
                          </div>
                          <div class="media-body">
                            <h6 class="font-size-15 mt-0 mb-1">{{ activity.title }}</h6>
                            <p class="text-muted font-size-14">{{ activity.text }}</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Projects" class="nav nav-pills navtab-bg">
              <ng-template ngbTabContent class="nav-item">
                <h5 class="mt-3">Projects</h5>
                <div class="row mt-3">
                  <ng-template [ngTemplateOutlet]="ProjectsData" [ngTemplateOutletContext]="{project:project}"
                               *ngFor="let project of projectData"></ng-template>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Tasks" class="nav nav-pills navtab-bg">
              <ng-template ngbTabContent class="nav-item">
                <h5 class="mt-3">Tasks</h5>
                <div class="card mb-0 shadow-none">
                  <div class="card-body">
                    <!-- task -->
                    <ng-template [ngTemplateOutlet]="tasksData" [ngTemplateOutletContext]="{task: task, i: i}"
                                 *ngFor="let task of tasks; let i = index;"></ng-template>
                    <!-- end task -->
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Files" class="nav nav-pills navtab-bg">
              <ng-template ngbTabContent class="nav-item">
                <h5 class="mt-3">Files</h5>
                <div class="card mb-2 shadow-none border">
                  <div class="p-1 px-2">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <img src="assets/images/projects/project-1.jpg" class="avatar-sm rounded" alt="file-image">
                      </div>
                      <div class="col pl-0">
                        <a href="javascript:void(0);" class="text-muted font-weight-bold">sales-assets.zip</a>
                        <p class="mb-0">2.3 MB</p>
                      </div>
                      <div class="col-auto">
                        <!-- Button -->
                        <a href="javascript:void(0);" placement="bottom" ngbTooltip="Download"
                           class="btn btn-link text-muted btn-lg p-0">
                          <i class='uil uil-cloud-download font-size-14'></i>
                        </a>
                        <a href="javascript:void(0);" placement="bottom" ngbTooltip="Delete"
                           class="btn btn-link text-danger btn-lg p-0">
                          <i class='uil uil-multiply font-size-14'></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-2 shadow-none border">
                  <div class="p-1 px-2">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <img src="assets/images/projects/project-2.jpg" class="avatar-sm rounded" alt="file-image">
                      </div>
                      <div class="col pl-0">
                        <a href="javascript:void(0);" class="text-muted font-weight-bold">new-contarcts.docx</a>
                        <p class="mb-0">1.25 MB</p>
                      </div>
                      <div class="col-auto">
                        <!-- Button -->
                        <a href="javascript:void(0);" placement="bottom" ngbTooltip="Download"
                           class="btn btn-link text-muted btn-lg p-0">
                          <i class='uil uil-cloud-download font-size-14'></i>
                        </a>
                        <a href="javascript:void(0);" placement="bottom" ngbTooltip="Delete"
                           class="btn btn-link text-danger btn-lg p-0">
                          <i class='uil uil-multiply font-size-14'></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end attachments -->
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Profile data -->
<ng-template #ProfileData>
  <div class="card">
    <div class="card-body">
      <div class="text-center mt-3">
        <img [attr.src]="imageToShow" alt="" class="avatar-lg rounded-circle" />
        <h5 class="mt-2 mb-0">{{profile.firstName }} </h5>
        <h6 class="text-muted font-weight-normal mt-2 mb-0">{{profile.lastName}}
        </h6>

        <div class="progress mb-4" style="height: 14px;">
          <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60"
               aria-valuemin="0" aria-valuemax="100">
            <span class="font-size-12 font-weight-bold">Your Profile is <span class="font-size-11">60%</span>
              completed</span>
          </div>
        </div>


      </div>

      <!-- profile  -->

      <div class="mt-3 pt-2 border-top">
        <h4 class="mb-3 font-size-15">Contact Information</h4>
        <div class="table-responsive">
          <table class="table table-borderless mb-0 text-muted">
            <tbody>
            <tr>
              <th scope="row">Email</th>
              <td>{{profile.email}}</td>
            </tr>
            <tr>
              <th scope="row">Phone</th>
              <td>{{profile.phone}}</td>
            </tr>
            <tr>
              <th scope="row">Address</th>
              <td>{{profile.address}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="mt-3 pt-2 border-top">
        <h4 class="mb-3 font-size-15">Skills</h4>
        <label class="badge badge-soft-primary mr-1">UI design</label>
        <label class="badge badge-soft-primary mr-1">UX</label>
        <label class="badge badge-soft-primary mr-1">Sketch</label>
        <label class="badge badge-soft-primary mr-1">Photoshop</label>
        <label class="badge badge-soft-primary mr-1">Frontend</label>
      </div>
    </div>
  </div>
</ng-template>


<!-- tasks tab content -->
<ng-template #tasksData let-task='task' let-i='i'>
  <div class="row justify-content-sm-between border-bottom mt-2 pt-2">
    <div class="col-lg-6 mb-2 mb-lg-0">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="task{{i}}">
        <label class="custom-control-label" for="task{{i}}">
          {{ task.name }}
        </label>
      </div> <!-- end checkbox -->
    </div> <!-- end col -->
    <div class="col-lg-6">
      <div class="d-sm-flex justify-content-between">
        <div>
          <img src="{{ task.user }}" alt="image" class="avatar-xs rounded-circle" />
        </div>
        <div class="mt-3 mt-sm-0">
          <ul class="list-inline font-13 text-sm-right">
            <li class="list-inline-item pr-1">
              <i class='uil uil-schedule font-16 mr-1'></i>
              {{task.time}}
            </li>
            <li class="list-inline-item pr-1">
              <i class='uil uil-align-alt font-16 mr-1'></i>
              {{task.task}}
            </li>
            <li class="list-inline-item pr-2">
              <i class='uil uil-comment-message font-16 mr-1'></i>
              {{ task.message }}
            </li>
            <li class="list-inline-item">
              <span class="badge p-1" [ngClass]="{
                                                          'badge-soft-danger': task.status === 'High',
                                                          'badge-soft-info': task.status === 'Medium',
                                                          'badge-soft-success': task.status === 'Low'
                                                      }">{{ task.status }}</span>
            </li>
          </ul>
        </div>
      </div> <!-- end .d-flex-->
    </div> <!-- end col -->
  </div>
</ng-template>

<!-- Projects tab content -->
<ng-template #ProjectsData let-project='project'>
  <div class="col-xl-4 col-lg-6">
    <div class="card border">
      <div class="card-body">
        <div class="badge badge-success float-right" [ngClass]="{ 'badge-warning': project.status === 'Pending'}">
          {{ project.status }}</div>
        <p class="text-success text-uppercase font-size-12 mb-2"
           [ngClass]="{ 'text-warning': project.type === 'Android'}">{{ project.type }}</p>
        <h5 cl><a href="javascript: void(0)" class="text-dark">{{ project.title }}</a></h5>
        <p class="text-muted mb-4">{{ project.text }}</p>

        <div>
          <a href="javascript: void(0);">
            <img src="{{ project.images[0] }}" alt="" class="avatar-sm m-1 rounded-circle">
          </a>
          <a href="javascript: void(0);">
            <img src="{{ project.images[1] }}" alt="" class="avatar-sm m-1 rounded-circle">
          </a>
        </div>
      </div>
      <div class="card-body border-top">
        <div>
          <div>
            <ul class="list-inline">
              <li class="list-inline-item pr-2">
                <a href="javascript: void(0)" class="text-muted d-inline-block bg-transparent" placement="top" ngbTooltip="Due date">
                  <i class="uil uil-calender mr-1"></i> {{ project.date }}
                </a>
              </li>
              <li class="list-inline-item pr-2">
                <a href="javascript: void(0)" class="text-muted d-inline-block bg-transparent" placement="top" ngbTooltip="Tasks">
                  <i class="uil uil-bars mr-1"></i> {{ project.bars }}
                </a>
              </li>
              <li class="list-inline-item">
                <a href="javascript: void(0)" class="text-muted d-inline-block bg-transparent" placement="top" ngbTooltip="Comments">
                  <i class="uil uil-comments-alt mr-1"></i> {{ project.comment }}
                </a>
              </li>
            </ul>
          </div>
          <div class="pt-2">
            <ngb-progressbar [type]="project.color" [value]="project.progress" height="5px" class="m-0">
            </ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

