<div class="col-12">
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="save()" [formGroup]="searchForm">
       <div class="row">

          <mat-form-field appearance="legacy" class="col">
            <mat-label>Legacy form field</mat-label>
            <input matInput formControlName="name" placeholder="Placeholder">
          </mat-form-field>

          <mat-form-field appearance="standard" class="col">
            <mat-label>Standard form field</mat-label>
            <input formControlName="description" matInput placeholder="Placeholder">
          </mat-form-field>

         <div class="form-group mb-3 col">
           <input type="text" id="minmax-datepicker" class="form-control" placeholder="mindate - maxdate"
                  mwlFlatpickr [altInput]="true"
                  [convertModelValue]="true" minDate="'2020-01'" maxDate="'2020-03'">
         </div>
       </div>
        <div class="row">

        <mat-form-field appearance="fill" class="col">
          <mat-label>Technologies</mat-label>
          <mat-select  multiple>
            <mat-option  *ngFor="let technologie of this.technologies | async"
                         [value]="technologie">{{technologie.wording}};</mat-option>
          </mat-select>
        </mat-form-field>

          <mat-form-field appearance="fill" class="col">
            <mat-label>Status</mat-label>
            <mat-select [formControl]="status" multiple>
              <mat-option *ngFor="let s of status" [value]="s">{{s}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <button mat-button type="submit">Search</button>

      </form>
    </div>
  </div>
</div>
