#add .card {
  padding: 20px;
  padding: 20px;
  background: #64379f;
  color: #fff;
}
#add h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Aclonica';
}
#add input {
  border-radius: 50px;
}
