<div class="card">
  <p>Result:</p>
  <p>Score: {{score}} </p>
  <p>Time: {{counter}}: sec</p>
</div>

<div style="margin-top: 10px;">
  <button class="btn btn-danger" style="margin-right: 8px;" routerLink="/home" (click)="dismissPanel()">Quit</button>
  <button class="btn btn-success" routerLink="/theme" (click)="dismissPanel()">Continue</button>
</div>
