<div class="card" *ngIf="ticket !== undefined &&  user !== undefined ">
    <div class="card-body">
      <div class="row pb-3 border-bottom" *ngIf=" user !== null">
        <div class="col" *ngIf="user.id == current.id">



        </div>
      </div>

      <div class="row">
        <div class="col">
          <h4 class="mt-3">{{ticket.title}}</h4>

          <div class="row" *ngIf="user!== null">
            <div class="col-6">
              <!-- assignee -->
              <p class="mt-2 mb-1 text-muted">Assigned To</p>

              <div class="media"
               >

                <div class="media-body" *ngIf="user.username!=null">

                  <h5 class="mt-1 font-size-14">
                    {{user.username}}
                              </h5>
                </div>
                <div class="media-body" *ngIf="user.username==null">

                  <h5 class="mt-1 font-size-14">
                    Not Assigned yet
                  </h5>
                </div>
              </div>
              <!-- end assignee -->
            </div> <!-- end col -->

            <div class="col-6">
              <!-- start due date -->
              <p class="mt-2 mb-1 text-muted">Due Date</p>
              <div class="media">
                <i class='uil uil-schedule font-18 text-success mr-1'></i>
                <div class="media-body">
                  <h5 class="mt-1 font-size-14">
                    {{ticket.endDate | date}}                  </h5>
                </div>
              </div>
              <!-- end due date -->
            </div> <!-- end col -->
          </div> <!-- end row -->

          <!-- task description -->
          <div class="row mt-3">
            <div class="col">
              <div id="taskDesk">
                <p>{{ticket.description}}</p>

              </div>
            </div> <!-- end col -->
          </div>
          <!-- end task description -->

          <!-- start sub tasks/checklists -->
          <h5 *ngIf="ticket.children.length !== 0" class="mt-4 mb-2 font-size-16">Checklists/Sub-tasks</h5>
          <div *ngFor="let i of ticket.children">
          <div class="custom-control custom-checkbox mt-1" >

            <input type="checkbox" class="custom-control-input" id="{{i.id}}" [checked]="i.done"  [disabled]=true >
            <label class="custom-control-label strikethrough" for="{{i.id}}">
              {{i.description}}
            </label>
          </div></div>



          <!-- end sub tasks/checklists -->



        </div> <!-- end col -->
      </div> <!-- end row-->
    </div> <!-- end card-body -->
  </div> <!-- end card-->

