<p>ticket-new works!</p>
<form (ngSubmit)="save()" [formGroup]="subticket">

Task:
  <input class="form-control " formControlName="task"
         id="name" name="firstName" required type="text"
  >


  <button type="submit">submit</button>
</form>
